@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 20;
  --accent-color: 214, 31, 98;
  --neumorphism-shadow: 8px 8px 16px #0a0a0f, -8px -8px 16px #1f1f2b;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
  background-color: rgba(var(--background-rgb), 0.6);
  border-radius: 0.625em;
  box-shadow: var(--neumorphism-shadow);
}

.input-area textarea {
  padding: 0.125em;
  border: none;
  border-radius: 0.625em;
  color: rgb(var(--foreground-rgb));
  resize: vertical;
  width: 100%;
  background-color: rgba(var(--background-rgb), 0.8);
  box-shadow: var(--neumorphism-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 15, 15, 20;
  }
}

@media (min-width: 768px) {
  .input-area textarea {
    width: 50%;
  }
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  border-radius: 0.625em;
}

.glow {
  text-shadow: 0 0 0.625em rgb(var(--accent-color)),
    0 0 1.25em rgb(var(--accent-color)), 0 0 2.1875em rgb(var(--accent-color)),
    0 0 2.5em rgb(var(--accent-color)), 0 0 3.125em rgb(var(--accent-color)),
    0 0 4.6875em rgb(var(--accent-color));
}

.comicBotCard,
.jokeLibraryCard {
  padding: 1em;
  margin: 1em;
  background-color: rgba(var(--accent-color), 0.2);
  border-radius: 0.625em;
  box-shadow: var(--neumorphism-shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.conversation-container {
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.625em;
  padding: 1rem;
  background-color: rgba(var(--background-rgb), 0.8);
  box-shadow: var(--neumorphism-shadow);
}

.bot-message-container,
.user-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.bot-message-container span,
.user-message-container span {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.bot-message,
.user-message {
  background-color: rgba(var(--background-rgb), 0.8);
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
