@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 32, 20, 30;
  --deep-red: 139, 0, 0;
  --mustard: 205, 179, 128;
  --bright-pastel: 255, 182, 193;
  --neon-blue: 77, 182, 255;
  --neumorphism-shadow: 8px 8px 16px #170a13, -8px -8px 16px #3b1427;
  --light-gray: 211, 211, 211;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
  background-color: rgba(var(--deep-red), 0.8);
  color: rgb(var(--mustard));
  border-radius: 0.625em;
  box-shadow: var(--neumorphism-shadow);
}

.input-area textarea {
  padding: 0.125em;
  border: none;
  border-radius: 0.625em;
  color: black;
  resize: vertical;
  width: 100%;
  background-color: rgba(var(--foreground-rgb), 0.8);
  box-shadow: var(--neumorphism-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 32, 20, 30;
    --deep-red: 139, 0, 0;
    --mustard: 205, 179, 128;
    --bright-pastel: 255, 182, 193;
    --neon-blue: 77, 182, 255;
    --light-gray: 211, 211, 211;
  }
}

@media (min-width: 768px) {
  .input-area textarea {
    width: 50%;
  }
}

body {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

* {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  border-radius: 0.625em;
}

.glow {
  text-shadow: 0 0 0.6em rgb(var(--neon-blue)), 0 0 1.7em rgb(var(--neon-blue));
}

.comicBotCard,
.jokeLibraryCard {
  padding: 0.7em;
  margin: 0.5em;
  background-color: rgba(var(--deep-red), 0.2);
  color: rgb(var(--foreground-rgb));
  border-radius: 0.625em;
  box-shadow: var(--neumorphism-shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.conversation-container {
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.625em;
  padding: 0.25rem;
  background-color: rgba(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  box-shadow: var(--neumorphism-shadow);
}

.bot-message-container,
.user-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.bot-message-container span {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 0 0 0.625em rgb(var(--bright-pastel)),
    0 0 1.25em rgb(var(--bright-pastel));
  text-decoration: underline;
}

.user-message-container span {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 0 0 0.625em rgb(var(--neon-blue)),
    0 0 1.25em rgb(var(--neon-blue));
  text-decoration: underline;
}

.bot-message,
.user-message {
  background-color: rgba(var(--background-rgb));
  padding: 0.15rem;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
