@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.input-area textarea {
  padding: 0.125em;
  border: 0.0625em solid black;
  border-radius: 0.625em;
  color: black;
  resize: vertical;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 768px) {
  .input-area textarea {
    width: 50%;
  }
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  border-radius: 0.3125em;
}

.glow {
  text-shadow: 0 0 0.625em #fff, 0 0 1.25em #fff, 0 0 1.875em #fff, 0 0 2.5em #39FF14, 0 0 4.375em #39FF14, 0 0 5em #39FF14, 0 0 6.25em #39FF14, 0 0 9.375em #39FF14;
}

.conversation {
  overflow-y: auto;
  padding: 0.5em;
  border: none;
  margin-bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.25em 0.375em -0.0625em rgba(0, 0, 0, 0.1), 0 0.125em 0.25em -0.0625em rgba(0, 0, 0, 0.06);
  border-radius: 0.375em;
}

.bot-message-container,
.user-message-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.user-message-container {
  flex-direction: row-reverse;
}

.bot-message {
  color: black;
  padding: 0.3125em;
  border-radius: 0.625em;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
  background-color: #cccccc;
  flex-grow: 1;
}

.user-message {
  color: white;
  padding: 0.3125em;
  border-radius: 0.625em;
  margin-bottom: 0.625em;
  margin-top: 0.3125em;
  background-color: #666;
  flex-grow: 1;
}

.comicBotCard {
  padding: 1rem;
  background-image: linear-gradient(to right, #FFEB3B, #F44336, #E91E63);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jokeLibraryCard {
  margin-left: auto;
  width: 66.666667%;
  padding: 1rem;
  background-image: linear-gradient(to left, #4CAF50, #2196F3, #3F51B5);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.conversation-container {
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
}